.DS_Store
*.o
main
main.dSYM
a.out
42seoul

Libft/libftTester
Libft/Libftest
Libft/libft-war-machine
Libft/libft-unit-test

gnl/gnlTester

printf/printfTester
printf/ft_printf_tester

minitalk/client
minitalk/client.dSYM
minitalk/server
minitalk/server.dSYM

pipex/pipex
pipex/pipex-tester
pipex/pipexMedic
pipex/outfile
