.DS_Store
*.o
*.a
main
main.dSYM
a.out
venv

Libft/libftTester
Libft/Libftest
Libft/libft-war-machine
Libft/libft-unit-test

gnl/gnlTester

printf/printfTester
printf/ft_printf_tester

pipex/pipex
pipex/pipex-tester
pipex/pipexMedic
pipex/outfile

fract_ol/fractol

push_swap/push_swap
push_swap/push_swap_tester
push_swap/push_swap_visualizer
